
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.left {
  align-items: left;
  display: flex;
  justify-content: left;
}

.container {
  border: 3px solid black;
  background-color: rgb(130, 204, 190);
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 400px;
  margin: 10px;
  border-radius: 10px;
}
.author {
  display: flex;
  flex-direction: column;
}

.borderCircle {
  border-radius: 40px;
}

p {
  font-size: 20px;
  display: block;
  color: black;
}

.right {
  /* align-items: right; */
  display: flex;
  justify-content: left;
}

.App-header {
  background-color: #667ba3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
